@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Mona-sans';
    font-weight: 300;
    src: url('../public/fonts/Mona-Sans-Light.woff') format('woff');
  }
  @font-face {
    font-family: 'Mona-sans';
    font-weight: 400;
    src: url('../public/fonts/Mona-Sans-Medium.woff') format('woff');
  }
  @font-face {
    font-family: 'Mona-sans';
    font-weight: 500;
    src: url('../public/fonts/Mona-Sans-MediumWide.woff') format('woff');
  }
  @font-face {
    font-family: 'Mona-sans';
    font-weight: 600;
    src: url('../public/fonts/Mona-Sans-SemiBoldWide.woff') format('woff');
  }
}
